akış dıyagarmı ile verilerde karar ağacı oluşturur genelikle kredi verme karar durumlarında kulanılır

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree

In [4]:
data=pd.read_csv("DecisionTreesClassificationDataSet.csv")
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [38]:
df=data.copy()

In [39]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [40]:
df.dtypes

Deneyim Yili                int64
SuanCalisiyor?             object
Eski Calistigi Firmalar     int64
Egitim Seviyesi            object
Top10 Universite?          object
StajBizdeYaptimi?          object
IseAlindi                  object
dtype: object

burda .map kulanalım ve Y yerine 1 N yerine 0 değerlerini verelim ve boş değerlerde NaN ile doldursun map() özeliği

In [41]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [42]:
Map={"N":0,"Y":1}
df["SuanCalisiyor?"]=df["SuanCalisiyor?"].map(Map)
df["Top10 Universite?"]=df["Top10 Universite?"].map(Map)
df["StajBizdeYaptimi?"]=df["StajBizdeYaptimi?"].map(Map)
df["IseAlindi"]=df["IseAlindi"].map(Map)
Map2={"BS":0,"MS":1,"PhD":2}
df["Egitim Seviyesi"]=df["Egitim Seviyesi"].map(Map2)

In [50]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

şimdi modelimize verileri vermek için değişkenleri ve etiketleri bir birinden ayırmamız lazım

In [60]:
x=df.drop(["IseAlindi"],axis=1)
y=df[["IseAlindi"]]

Tree modelimizi uygulamaya gidelim

In [61]:
model=tree.DecisionTreeClassifier()
model=model.fit(x,y)

In [62]:
print(model.predict([[2,1,2,2,1,0]]))

[1]

/Users/abdulbarisoylemez/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [73]:
print(model.predict([[1,0,2,2,1,0]]))

[0]

/Users/abdulbarisoylemez/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(